
h1{
    text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.grpbtn{
text-align: center;
}

.btn{
    border: 4px solid greenyellow;
border-radius: 25px;
color: gray;
width: 200px;
height: 50px;
background-color: white;
font-weight: 700;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
font-size: 20px;
}
